.projects__list {
    margin-top: 5px;
    margin-left: -2px;
    list-style-type: none;
    cursor: pointer;
}

.projects__name {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
}
