.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(217, 217, 217, 0.05);
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #FFF;
    width: 550px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}